{% extends "base.html" %}
{% block title %} - Index - {% endblock %}
{% block page_content %}

<style>

div.pos_abs
{
position:absolute;
left:10%;
top:30%
}
    div.pos_abs_bottom
{
position:absolute;
left:75%;
bottom:5%
}

</style>

<body background="https://wallpapercave.com/wp/P1bm72P.jpg">

<div class="pos_abs">
    <font size="8" face="verdana" color="white">WELCOME         FRIENDS</font>
</div>
</body>



<div class="pos_abs_bottom">
    <font size="3" color="orange" style="font-family:verdana">Powered by Xin Wang & Xinjie Wen</font>
</div>


{% endblock %}