{% extends "base.html" %}
{% block title %} - Playoff - {% endblock %}
{% block page_content %}

<style>

div.pos_abs_search
{
position:absolute;
left:10%;
top:15%
}

div.table
{
position:absolute;
left:10%;
top:35%
}

    div.pos_abs_bottom
{
position:absolute;
left:75%;
bottom:5%
}

a.pos_abs_href1
{
position:absolute;
left:10%;
bottom:30%
}
a.pos_abs_href2
{
position:absolute;
left:10%;
bottom:25%
}

</style>

<body background="https://wallpapercave.com/wp/P1bm72P.jpg">


<div class = 'pos_abs_search'>


    <form method="GET" action="/playoff_result_is" >
        <font size="3" color = 'white'>In Playoff: </font>
        <select name = "in" style="width:60px">
        {% for n in is_or_not %}
        <option value="{{ n }}">{{ n }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Search" class="btn btn-primary">
        </form>


    <form method="GET" action="/playoff_result_team">
        <font size="3" color="white" > In Playoff : {{ judge }} </font>
        <br>

        <font size="3" color = 'white'>Team   Id: </font>
        <select name ="team_id" style="width:70px">
        {% for p in teams_id %}
        <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Search" class="btn btn-primary">

        </form>

    <font size="3" color="white"> Team Id: {{ team_id }} </font>


</div>

   <div class="table">

       <table border="5" >
            <tr>
                <th width="200"> <font color="white">Team id</font> </th>
                <th width="200"> <font color="white"> Team Name</font> </th>
                <th width="200"> <font color="white">Homecout</font> </th>
            </tr>
             {% for n in data %}
            <tr>
                <td width="200"><font color="white"> {{ n[0] }} </font></td>
                <td width="200"><font color="white"> {{ n[1] }} </font></td>
                <td width="200"><font color="white"> {{ n[2] }} </font></td>
            </tr>
           {% endfor %}
        </table>

       <br>
       <font size="6" color="white">Playoff  Record</font>

       <table border="5">
           <tr>
                <th width="60"> <font color="white">Team1</font> </th>
                <th width="60"> <font color="white">Team2</font> </th>
                <th width="60"> <font color="white">score1</font> </th>
                <th width="60"> <font color="white">Score2</font> </th>
                <th width="100"> <font color="white">Game Id</font> </th>
                <th width="150"> <font color="white">Location</font> </th>
                <th width="90"> <font color="white">Date</font> </th>
            </tr>
                    {% for i in record %}
            <tr>
                <td width="60"><font color="white"> {{ i[0] }} </font></td>
                <td width="60"><font color="white"> {{ i[1] }} </font></td>
                <td width="60"><font color="white"> {{ i[2] }} </font></td>
                <td width="60"><font color="white"> {{ i[3] }} </font></td>
                <td width="100"><font color="white"> {{ i[4] }} </font></td>
                <td width="150"><font color="white"> {{ i[5] }} </font></td>
                <td width="90"><font color="white"> {{ i[6] }} </font></td>
            </tr>
                     {% endfor %}

       </table>

    </div>
</body>

<div class="pos_abs_bottom">
    <font size="3" color="orange" style="font-family:verdana">Powered by Xin Wang & Xinjie Wen</font>
</div>


{% endblock %}




