{% extends "base.html" %}
{% block title %} - Team Performance - {% endblock %}
{% block page_content %}

<style>

div.pos_abs_search
{
position:absolute;
left:10%;
top:15%
}

div.table
{
position:absolute;
left:10%;
top:45%
}

    div.pos_abs_bottom
{
position:absolute;
left:75%;
bottom:5%
}

a.pos_abs_href1
{
position:absolute;
left:10%;
bottom:30%
}
a.pos_abs_href2
{
position:absolute;
left:10%;
bottom:25%
}

</style>

<body background="https://wallpapercave.com/wp/P1bm72P.jpg">


<div class = 'pos_abs_search'>


    <form method="GET" action="/team_performance_another" >
        <font size="3" color = 'white'>Search Team1: </font>
        <select name = "team_1" style="width:150px">
        {% for p in team1_names %}
        <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Search" class="btn btn-primary">
        </form>


    <form method="GET" action="/team_performance_game">
        <font size="3" color="white" > Team1 : {{ t1 }} </font>
        <br>

        <font size="3" color = 'white'>Search Team2: </font>
        <select name ="team_2" style="width:150px">
        {% for p in team2_names %}
        <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Search" class="btn btn-primary">

        </form>

    <font size="3" color="white"> Team2 : {{ t2 }} </font>
    <br>


    <form method="GET" action="/result_team_performance">

        <font size="3" color = 'white'>Search Game : </font>
        <select name ="query" style="width:150px">
        {% for p in result %}
        <option value="{{ p }}">{{ p }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Search" class="btn btn-primary">

        </form>

    <font size="3" color="white"> Game_id : {{ game_id }} </font>
    <br>


</div>

   <div class="table">

       <table border="5" >
            <tr>
                <th width="130"> <font color="white">Team1 Id</font> </th>
                <th width="130"> <font color="white">Team2 Id</font> </th>
                <th width="130"> <font color="white">Team1 Score</font> </th>
                <th width="130"> <font color="white">Team2 Score</font> </th>
                <th width="130"> <font color="white">Game Id</font> </th>
            </tr>
             {% for n in data %}
            <tr>
                <td width="130"><font color="white"> {{ n[0] }} </font></td>
                <td width="130"><font color="white"> {{ n[1] }} </font></td>
                <td width="130"><font color="white"> {{ n[2] }} </font></td>
                <td width="130"><font color="white"> {{ n[3] }} </font></td>
                <td width="130"><font color="white"> {{ n[4] }} </font></td>
            </tr>
           {% endfor %}
        </table>



    </div>
</body>

<div class="pos_abs_bottom">
    <font size="3" color="orange" style="font-family:verdana">Powered by Xin Wang & Xinjie Wen</font>
</div>


{% endblock %}




